.login-container {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
  margin: 0;
}

.login-container .container {
  text-align: center;
}

.login-container h1 {
  color: purple;
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 30px;
}

.login-container label {
  font-weight: bold;
  color: #660099;
  display: block;
  margin-bottom: 5px;
}

.login-container input {
  width: 250px;
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid #660099;
  border-radius: 5px;
}

.login-container .button {
  background-color: #a3338a;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.login-container .error-message {
  color: red;
  margin-top: 15px;
}

.login-container .enlace-contrasena {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  display: inline-block;
  margin-top: 15px;
}

@media (max-width: 768px) {
  .login-container h1 {
    font-size: 36px;
  }
  
  .login-container input {
    width: 80%;
  }
}